.fill{
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.empty{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: solid 2px;
}

.wrapper-skill {
    max-width: 100px;
}