<router-outlet></router-outlet>

<!-- <div class="mb-5 pb-5">
  <p>Componente app-employment</p>
  <app-employment></app-employment>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-sub-title</p>
  <app-sub-title text="employment history"></app-sub-title>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-employment-history</p>
  <app-employment-history textSubTitle="Employment History"></app-employment-history>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-profile</p>
  <app-profile></app-profile>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-details</p>
  <app-details phone="+5534992316267" email="joaoneto.itba@gmail.com"></app-details>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-links</p>
  <app-links></app-links>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-skill</p>
  <app-skill></app-skill>
</div>

<div class="mb-5 pb-5">
  <p>Componente app-skills</p>
  <app-skills></app-skills>
</div> -->
